* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: orange;
  padding: 0;
}

.joke-container {
  display: grid;
  padding: 0px 150px;
  align-items: center;
  justify-content: center;
 }

 h3 {
  font-size: 1.1em;
  color: orange;
 }
 p {
  font-style: italic;
 }

 footer {
  align-items: center;
  justify-content: center;
  padding: 10px 330px;
  font-style: normal;
 }